body {
  background: #0a0a0a;
  color: white;
  direction: rtl;
}

/*////////////////////// Hero Section /////////////*/
.hero-section {
  min-height: 80vh;
  background: #0a0a0a;
  padding-top: 80px;
.hero-grid {
  position: absolute;
  inset: 0;
  background-image:
    linear-gradient(rgba(38,38,38,.4) 1px, transparent 1px),
    linear-gradient(90deg, rgba(38,38,38,.4) 1px, transparent 1px);
  background-size: 60px 60px;
}

.blob {
  position: absolute;
  border-radius: 50%;
  filter: blur(120px);
}

.blob-1 {
  top: 10%;
  left: 10%;
  width: 300px;
  height: 300px;
  background: rgba(255,140,0,.15);
}

.blob-2 {
  bottom: 10%;
  right: 10%;
  width: 400px;
  height: 400px;
  background: rgba(255,200,0,.08);
}

.blob-3 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background: rgba(255,140,0,.05);
}

/* Label */
.hero-label {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 6px 14px;
  border: 1px solid orangered ;
  border-radius: 999px;
  background: rgba(255,140,0,.1);
  font-size: 14px;
  color: #ff6a00;
}

.hero-label .dot {
  width: 8px;
  height: 8px;
  background: orangered;
  border-radius: 50%;
}

/* Title */
.hero-title {
  font-size: clamp(2.5rem, 6vw, 4.5rem);
  font-weight: bold;
  line-height: 1.3;
}

.gradient-text {
  background: linear-gradient(90deg, #ff8c00, #ffb347);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Description */
.hero-desc {
  font-size: 1.2rem;
  color: #aaa;
  max-width: 700px;
  margin: auto;
}

/* Buttons */
.btn-primary-custom {
  background: linear-gradient(to bottom right,oklch(70.5% .213 47.604),oklch(64.6% .222 41.116));
  border: none;
  padding: 12px 28px;
  border-radius: 999px;
  color: white;
  transition: 0.3s;
  .fa-arrow-left{
    transition: 0.3s;
  }
  &:hover{
    transform: translateY(-4px);
    .fa-arrow-left{
      transform: translateX(-4px);
    }
  }
}

.btn-outline-custom {
  border: 1px solid #333;
  color: white;
  padding: 12px 28px;
  border-radius: 999px;
 &:hover{
  color:#ff6a00;
  border: 1px solid #ff6a00;
   .fa-circle-info{
    color: #ff6a00;
  }
 }
}

/* Stats */
.stat-card {
  background: rgba(255,255,255,.03);
  border: 1px solid rgba(255,255,255,.05);
  border-radius: 16px;
  padding: 10px;
  margin-bottom: 70px;
  text-align: center;
  transition: .3s;
}

.stat-card:hover {
  transform: scale(1.05);
}

.stat-card i {
  font-size: 22px;
  color: oklch(70.5% .213 47.604);
  margin-bottom: 5px;
}

.stat-card h3 {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(135deg, #f97316, #fbbf24);
  background-clip: text;
  font-weight: bold;
}

.stat-card p {
  margin: 0;
  font-size: 13px;
  color:oklch(55.6% 0 0);
}

}

/* Sticky Bar */
.search-bar {
  background: rgba(10,10,10,0.95);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #262626;
  position: sticky;
  top: 80px;
  z-index: 9999;
}

/* Search */
.search-input {
  background: #161616;
  border: 1px solid #262626;
  color: white;
  padding-right: 40px;
  &::placeholder{
    color: #777;
  }

}

.search-input:focus {
  background: #0a0a0a;
  border-color: rgba(255, 140, 0, 0.6);
  box-shadow: none;
  color: #fff;
}

.search-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #777;
}

/* Buttons */
.btn-orange {
  background: linear-gradient(to right, #ff7a00, #ff5500);
  color: white;
  border: none;
}

.btn-outline-orange {
  background: #161616;
  color: #aaa;
  border: 1px solid #262626;
}

.btn-outline-orange:hover {
  border-color: #ff7a00;
  color: white;
}

.view-toggle{
  display: inline-flex;
  gap: 8px;
  padding: 6px;
  background: #141414;
  border-radius: 16px;
  border: 1px solid #262626;
}

.view-btn {
  width: 44px;
  height: 44px;
  border-radius: 12px;
  background: transparent;
  border: none;
  color: #777;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: 0.3s;
}

.view-btn:hover {
  color: #fff;
}

.view-btn.active {
  background: linear-gradient(to bottom right, #ff8c00, #ff6a00);
  color: #fff;
  box-shadow: 0 0 0 2px rgba(255,140,0,0.25);
}

.list-view .article-card {
  display: flex;
  gap: 20px;
}

.list-view .article-img {
  width: 100%;
}

.list-view .article-img img {
  height: 100%;
  object-fit: cover;
}

.list-view .article-body {
  flex: 1;
}

/* Card */
.article-card {
  background: #141414;
  border: 1px solid #262626;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.article-card:hover {
  transform: translateY(-6px);
}

.article-img {
  position: relative;
  height: 220px;
  overflow: hidden;
}

.article-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.6s;
}

.article-card:hover img {
  transform: scale(1.1);
}

.category {
  position: absolute;
  top: 15px;
  right: 15px;
  background: rgba(10,10,10,0.8);
  border: 1px solid #333;
  color: #fff;
  font-size: 12px;
  padding: 4px 12px;
  border-radius: 999px;
}

.article-body {
  padding: 20px;
}

.meta {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  color: oklch(55.6% 0 0);
  margin-bottom: 12px;
}

.dot-sm {
  width: 4px;
  height: 4px;
  background: #666;
  border-radius: 50%;
}

.article-body h3 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 10px;
  transition: 0.3s;
}

.article-card:hover h3 {
  color: #ff6c00;
}

.article-body p {
  color: #bbb;
  font-size: 14px;
  line-height: 1.7;
}

.article-footer {
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid #262626;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.author img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #262626;
}

.author span {
  font-size: 14px;
  font-weight: 600;
}

.author small {
  font-size: 12px;
  color: #aaa;
}

.read-icon {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: rgba(255,140,0,0.1);
  border: 1px solid rgba(255,140,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff6c00;
  transition: 0.3s;
}

.article-card:hover .read-icon {
  background: #ff6c00;
  color: #fff;
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.page-btn {
  width: 46px;
  height: 46px;
  border-radius: 14px;
  background: #111;
  border: 1px solid #262626;
  color: #aaa;
  font-size: 15px;
  transition: 0.3s;
}

.page-btn:hover {
  background: #1a1a1a;
  color: #fff;
  border-color: #333;
  border: 1px solid #ff6a00;
}

.page-btn.active {
  background: linear-gradient(to right, #ff7a00, #ff5500);
  color: white;
  border: none;
  box-shadow: 0 0 12px rgba(255, 120, 0, 0.4);
}

.page-btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.page-info {
  text-align: center;
  margin-top: 15px;
  color: #888;
  font-size: 14px;
}

