<footer class="footer-section text-light">
  <div class="container py-5">

    <div class="row gy-4">

      <!-- Subscribe -->
      <div class="col-lg-3  d-flex flex-column align-items-end">
        <h6 class="footer-title">
           ابقَ على اطلاع <span class="line"></span>
        </h6>
        <p class="footer-text">
          اشترك للحصول على أحدث المقالات والتحديثات.
        </p>

        <input type="email" class="form-control footer-input mb-3" placeholder="أدخل بريدك الإلكتروني">

        <button class="btn footer-btn w-100">اشترك</button>
      </div>

      <!-- Categories -->
      <div class="col-lg-3  d-flex flex-column align-items-end">
        <h6 class="footer-title">
          التصنيفات  <span class="line"></span>
        </h6>
        <ul class="footer-list">
          <li><a routerLink="/blogs">إضاءة</a></li>
          <li><a routerLink="/blogs">بورتريه</a></li>
          <li><a routerLink="/blogs">مناظر طبيعية</a></li>
          <li><a routerLink="/blogs">تقنيات</a></li>
        </ul>
      </div>

      <!-- Explore -->
      <div class="col-lg-3  d-flex flex-column align-items-end">
        <h6 class="footer-title">
         استكشف  <span class="line"></span>
        </h6>
        <ul class="footer-list">
          <li><a routerLink="/home">الرئيسية</a></li>
          <li><a routerLink="/blogs">المدونة</a></li>
          <li><a routerLink="/home">من نحن</a></li>
        </ul>
      </div>

      <!-- Brand -->
      <div class="col-lg-3 text-lg-end">
        <div class="d-flex align-items-center justify-content-lg-end gap-2 mb-3">
          <span class="brand-name">عدسة</span>
          <span class="brand-icon">ع</span>
        </div>

        <p class="footer-text">
          مدونة متخصصة في التصوير الفوتوغرافي، نشارك معكم أسرار المحترفين ونصائح عملية لتطوير مهاراتكم.
        </p>

        <div class="social-icons mt-3">
          <a href="https://www.youtube.com/@adasah" target="_blank"><i class="fa-brands fa-youtube"></i></a>
          <a href="https://www.linkedin.com/company/adasah" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
          <a href="https://github.com/adasah" target="_blank"><i class="fa-brands fa-github"></i></a>
          <a href="https://x.com/adasah" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
        </div>
      </div>

    </div>
<br>
<br>
    <hr class="footer-line my-4">

    <!-- Bottom -->
    <div class="bottom d-flex flex-column flex-md-row justify-content-between align-items-center small text-muted">
     <div class="col-lg-3 d-flex justify-content-around">
       <a class="footer-text" routerLink="/home">
          شروط الخدمة
      </a>
      <a class="footer-text" routerLink="/home">
         سياسة الخصوصية
      </a>
     </div>
      <div class="footer-text">
        © 2026 عدسة. صنع بكل <i class="fa-solid fa-heart text-danger"></i> جميع الحقوق محفوظة.
      </div>
    </div>

  </div>
</footer>
