.custom-navbar {
  height: 80px;
  background: linear-gradient(to bottom, #0b0b0b, #000);
  border-bottom: 1px solid #1f1f1f;
}

.nav-center {
  background: #151515;
  padding: 6px;
  border-radius: 999px;
  gap: 6px;
}

.nav-center .nav-link {
  padding: 10px 22px;
  border-radius: 999px;
  font-size: 14px;
  color: #aaa;
  transition: 0.3s;
}

.nav-center .nav-link:hover {
  color: white;
}

.nav-center .nav-link.active {
 background: linear-gradient(to bottom right,oklch(70.5% .213 47.604),oklch(64.6% .222 41.116));
 color: white;
}

/* Buttons */
.start-btn {
  background: linear-gradient(to bottom right,oklch(70.5% .213 47.604),oklch(64.6% .222 41.116));
  color: white;
  border-radius: 999px;
  padding: 10px 22px;
  font-size: 14px;
  transition: 0.2s;
  &:hover{
    transform: translateY(-3px);
  }
}

.search-btn {
  color: #aaa;
  font-size: 16px;
  &:hover{
    i{
      color: #ff6a00;
    }
  }
}

/* Logo */
.logo{
  cursor: pointer;
}
.logo-title {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.logo-subtitle {
  font-size: 12px;
  color: #ff8c00;
}

.logo-icon {

  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid #ff8c00;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff8c00;
  font-size: 18px;
}
